@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.gameOver {
    font-family: 'Courgette', cursive;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOver h2,
.gameOver p {
    margin-bottom: 1rem;
}

.gameOver p {
    color: #fff;

    font-size: 1.5rem;
}

.gameOver img {
    margin: 2rem;
    height: 500px;
}

.gameOver button {
    width: 24%;
}

.gameOver_love {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    gap: 30px;
}

.gameOver_love p {
    color: black;
    font-weight: bold;
}

.gameOver_love span {
    font-size: 3em;
}

.drop {
    font-family: 'Courgette', cursive;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-shadow: -2px -2px 5px #fff;
    filter: drop-shadow(4px 4px 10px #fff);
    box-shadow: inset 10px 10px 10px rgb(0 0 0 / 13%), 15px 25px 10px rgb(0 0 0 / 0%), 15px 20px 20px rgb(0 0 0 / 22%), inset -10px -10px 15px rgb(255 255 255 / 53%)
}

.drop ion-icon::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    filter: blur(2px);
}

.drop ion-icon::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 55px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    filter: blur(2px);
}

.drop ion-icon {
    color: #ff5353;
    font-size: 2em;
    margin-top: 20px;
}


@media (max-width: 380px) {

    .gameOver p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .gameOver_love {
        flex-direction: column;
        min-height: 25vh;
    }

    .drop {
        width: 60px;
        height: 60px;
    }

    .gameOver button {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .gameOver {
        flex-direction: column;
    }

    .gameOver p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .gameOver_love {
        min-height: 20vh;
        gap: 9px;
    }

    .drop {
        width: 60px;
        height: 60px;
    }

    .gameOver_love span {
        font-size: 2em;
    }

    .gameOver button {
        margin-top: 20%;
        width: 100%;
    }
}

@media (min-width: 768px) {

    .gameOver button {
        width: 30%;
    }
}