#question {
    text-align: center;
    max-width: 800px;
    padding: 2rem;
    border-radius: 1rem;
    opacity: 1;
}

#question h2,
#question p {
    margin-bottom: 1rem;
    color: #fff;
}

#question p {
    color: #fff;
    font-weight: bold;
}

#question button {
    border: 2px solid #ffff;
}

#question button:hover {
    color: #490443;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape #deleteOption {
    color: #490443;
    font-style: italic;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

#button_tip {
    width: 30%;
}

.button_remove {
    width: 60%;
}

.button_remove_small {
    width: 40%;
}