.option {
    background-color: #cd729c;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.option:hover,
.option:focus {
    opacity: .8;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #0de64e;
    font-weight: bold;
    border: 1px solid #398d34;
}

.wrong {
    background-color: #cd729c;
    opacity: 0.4;
}


.hide {
    display: none;
}