* {
  margin: 0;
  padding: 0;
  /* font-family: "Raleway", sans-serifss; */
  color: #fff7f7;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #4ac4f8;
}

img {
  max-width: 100%;
}

button {
  border: 1px solid #fff;
  border-radius: 0.5rem;
  color: #ffff;
  font-size: 1.2rem;
  padding: .8rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(23 79 98) 0%, rgba(184, 84, 232, 1) 100%);
}

button:hover {
  
  background: linear-gradient(90deg, rgb(190, 142, 212) 100%, rgb(149, 63, 199) 0%);
}

footer{
  width: 98%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
}